<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search Engine</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- jQuery and JS bundle w/ Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">    
        <style>
            body{
                background-image : url(../static/image/genshin_wallpaper.jpg);
                margin : 20px;
            }
        </style>
    </head>
    <body>
        <h2>Search Engine</h2>

        <form method = "post" action = "{{ url_for('search') }}">
            <div class="form-row">
                <div class="col-10">
                    <input type="text" class="form-control" placeholder="Search.." name = "search">
                </div>
                <div class="col">
                    <button type="submit" onclick="printkey()" class="btn btn-dark">Search</button>
                </div>
            </div>
        </form>

        {% for i,j,k,l,m in result %}
        <h3><a href = "/document_details/{{i}}/{{m}}">{{i}}</a></h3>
        <p>{{j}}</p>
        <p>{{k}}</p>
        <p>{{l}} %</p>
        {% endfor %}

        {% if error_message != "" %}        
        <p>
            {{error_message}}
        </p>
        {% endif %}

        {%if length != 0 %}
        <table class = "table">
            <tr>
                <th>Term</th>
                <th>Query</th>
                {% for i in range(length-1) %}
                <th>Document {{i+1}}</th>
                {%endfor%}
            </tr>
            {%for i in range(query_length)%}
            <tr>
                
                <td>{{query[i]}}</td>
                {%for j in range(length)%}
                <td>{{vector[j][i]}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        
    </body>
</html>