/**********TAG SELECTOR**************/
body{
    margin : 20px;
    background-image : url(../image/genshin_wallpaper.jpg);
    background-size: 100%;
}

h2 {
    margin-bottom : 30px;
}
th{
    color : white;
    background-color: black;
}
/*********CLASS SELECTOR*************/
