/**********TAG SELECTOR**************/
body{
    margin : 20px;
    background : url(https://www.gensh.in/gallery/wallpaper#lg=1&slide=26);
    background-size: 100%;
}

h2 {
    margin-bottom : 30px;
}
th{
    color : white;
    background-color: black;
}
/*********CLASS SELECTOR*************/
